/* ####################### */
/* Color Palette */
/* ####################### */
$c1: #EFEF16;
$c2: #EB1265;
$c3: #209052;
$c4: #E8E9EB;
$c5: #313638;


/* ####################### */
/* Fonts */
/* ####################### */
$font1: Yellowtail, cursive;
$font2: Montserrat, sans-serif;
$font22: MontserratBold, sans-serif;


/* ####################### */
/* Common Styles */
/* ####################### */
body {
    background-color: $c4;
}

header, nav, main, aside, footer {
    box-sizing: border-box;
}

main {
    padding: calc(90px + 3rem) 0rem 6rem;
}

.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}