#response {
    padding: calc(90px + 6rem) 2rem 6rem;

    .container {
        text-align: center;
    }

    .error-box {
        width: 180px;
        margin: 0 auto 3rem;
        border: 12px solid $c3;
        border-radius: 16px;
        font-size: 5rem;
        font-family: $font2;

        .text-color-1 {
            color: $c2;
        }

        .text-color-2 {
            color: $c3;
        }
    }

    img {
        max-width: 200px;
        max-height: 200px;
        margin-bottom: 3rem;
    }

    h1 {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        font-family: $font1;
        color: $c2;
    }

    a {
        color: $c3;
        font-size: 1.8rem;
        font-family: $font1;
    }
}